@font-face {

	font-family: "Nimbus Sans L";
	src: url("fonts/NimbusSanL-Reg") format("woff2");
	font-weight: 400;
	font-style: normal;
}
body {

	font-family: Isoevka NFP;
	background-color: rgb(235, 229, 222);
	text-align: center;
	margin: 0;
}

.MySiteHeader {

	background-color: #e24329;
	border-top: 1px solid #e24329;
	border-bottom: 1px solid #e24;
	height: 64px;
	z-index: 400;

	display: flex;
	align-items: center;
	justify-content: space-between;

	padding: 6px 32px;
}

h1 {

	padding: 10 30 10 10;
	color: #000;
	font-weight: bold;
}

.LoginTab {

	border: 2px solid #ff894c;
	border-radius:  25px;
	background-color: #000000;
	color: #ffffff;
	margin: 50px;
	padding: 20px;
	text-decoration: none;
}

.LoginTab:hover {

	border: 2px solid black;
	background-color: #ffffff;
	color: #000000;
	text-decoration: none;
}


