
body {

	font-family: 'Inter', sans-serif;
	background-color: rgb(235, 229, 222);
	text-align: center;
	margin: 0;
}

.MySiteHeader {

	background: linear-gradient(135deg, #ff6b35 0%, #f7931e 100%);
	border-top: 1px solid #e24329;
	height: 64px;
	z-index: 400;

	display: flex;
	align-items: center;
	justify-content: space-between;

	padding: 6px 32px;
}

h1 {

	padding: 10px 30px 10px 10px;
	color: #000;
	font-weight: bold;
}

.LoginTab {

	border: 2px solid #ff894c;
	border-radius:  25px;
	background-color: #000000;
	color: #ffffff;
	margin: 50px;
	padding: 20px;
	text-decoration: none;
	font-weight: 500;
    font-size: 16px;
	padding: 12px 32px;
    border-radius: 25px;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.LoginTab:hover {

	border: 2px solid black;
	background-color: #ffffff;
	color: #000000;
	text-decoration: none;
}

.MainTagLineContainer {

	display: flex;
	align-items: ceneter;
	justify-content: center;
}

.MainTagLine {

	position: relative;
	top: 200px;
	bottom: 100px;
	padding: 6px 32px;
	font-weight: 500;
    font-size: 30px;

}


